#navigasi {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

#webname {
	font-family: 'Lobster Two', cursive;
	font-size: 27px;
}

#drop-files li a {
	font-size: 15px; 
}

.logout li a {
	font-size: 15px;
}

body {
	background-image: url(img/bg.png);
}