#navigasi {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

#webname {
	font-family: 'Lobster Two', cursive;
	font-size: 27px;
	color: #f53240;
}

#drop-files li a {
	font-size: 15px; 
}

.logout li a {
	font-size: 15px;
}

body {
	background-image: url(img/bg.png);
}

.jumbotron {
	text-align: center;
}

#welcome-text {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

#login-head {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: #6b7cff;
}

#login-form {
	margin-top: 60px;
	
}

#btn-edit {
	margin-right:5px;
}